@page "/Notifications/{id:int?}/Delete/{handler?}"

@using ntbs_service.Helpers
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@model ntbs_service.Pages.Notifications.DeleteModel

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = $"Delete - {Model.NotificationId}";
}

<nhs-grid-column grid-column-width="Full">
    <form method="post" autocomplete="off">
        <input type="hidden" asp-for="NotificationId" />
        <nhs-warning-callout title-text="You are about to delete this draft and all associated information">
            <p>
                This action will be recorded in the audit log
            </p>
        </nhs-warning-callout>
        @{
            var hasReasonError = !Model.ValidationService.IsValid("DeletionReason");
            var reasonFormGroupType = hasReasonError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type="@reasonFormGroupType">
            <nhs-fieldset aria-describedby="reason-error">
                <nhs-fieldset-legend nhs-legend-size="Standard">
                    Reason for deletion
                </nhs-fieldset-legend>

                <span id="reason-error" nhs-span-type="ErrorMessage" asp-validation-for="DeletionReason" has-error="@hasReasonError"></span>
                <textarea asp-for="DeletionReason" nhs-textarea-type="Standard" is-error-input="@hasReasonError"
                          aria-describedby="reason-error" rows="2" classes="delete-reason-text-area-container"> </textarea>
            </nhs-fieldset>
        </nhs-form-group>

                <button id="confirm-deletion-button" asp-page-handler="Confirm" class="nhsuk-button ntbsuk-button--warning">
                    Confirm deletion
                </button>

        <nhs-back-link href="@RouteHelper.GetNotificationPath(NotificationSubPaths.Overview, Model.NotificationId)">Cancel & go back</nhs-back-link>
    </form>
</nhs-grid-column>
