@page "/Notifications/{NotificationId:int}/LinkedNotifications/{handler?}"
@using ntbs_service.Helpers
@model LinkedNotificationsModel

@{
    Layout = "../Shared/_NotificationLayoutWithSideMenu.cshtml";
    ViewData["Title"] = "Linked Notifications";
    ViewData["NotificationId"] = @Model.NotificationId;
    ViewData["CurrentPage"] = NotificationSubPaths.LinkedNotifications;
}

<h2 id="top">Linked Notifications</h2>

@foreach (var notificationBannerModel in @Model.LinkedNotifications)
{
    <partial name="./Shared/_NotificationBanner" model="notificationBannerModel" />
}

<a href="#top" class="govuk-link--no-visited-state"> Back to top </a>
