@model ntbs_service.Pages_Notifications.NotificationModelBase

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
}

<p>You do not have permission to view the full details of this record</p>