@model NotificationEditModelBase
@using ntbs_service.Helpers

@{
    ViewData["Title"] = $"Error - Draft #{Model.NotificationId} submission";
    Layout = "../Shared/_NotificationLayoutWithSideMenu.cshtml";
}

<nhs-error-summary title-text="You cannot proceed until the following issues are resolved" title-id="error-summary-title"
role="alert" tabindex="-1" data-module="error-summary">
    @foreach (var (section, errors) in Model.NotifyErrorDictionary
        // Order these by the NotificationSection enum, which holds the canonical pages order
        .OrderBy(entry => entry.Key)) 
    {
        var url = RouteHelper.GetSubmittingNotificationPath(Model.NotificationId, section.ToSubPath());

        <li>
            <a href="@url">
                @(section.ToDisplayString())
            </a>
        </li>
        @foreach(var item in errors) 
        {
            <li>@item</li>
        }
    
    }
</nhs-error-summary>