@page "/Notifications/{NotificationId:int}/{handler?}"
@using ntbs_service.Helpers
@model OverviewModel

@{
    Layout = "../Shared/_NotificationOverviewLayout.cshtml";
    ViewData["Title"] = "Overview";
    ViewData["NotificationId"] = @Model.NotificationId;
    ViewData["CurrentPage"] = NotificationSubPaths.Overview;
}

<partial name="./OverviewPartials/_ClusterInformationOverviewPartial" for="Notification"/>

<partial name="./OverviewPartials/_PatientOverviewPartial"/>

<partial name="./OverviewPartials/_EpisodeOverviewPartial"/>

<partial name="./OverviewPartials/_ClinicalDetailsOverviewPartial"/>

<partial name="./OverviewPartials/_ContactTracingOverviewPartial"/>

<partial name="./OverviewPartials/_TestResultsOverviewPartial"/>

<partial name="./OverviewPartials/_SocialRiskFactorsOverviewPartial"/>

<partial name="./OverviewPartials/_TravelOverviewPartial"/>

<partial name="./OverviewPartials/_ComorbiditiesAndImmunosuppresionOverviewPartial"/>

<partial name="./OverviewPartials/_SocialContextAddressesOverviewPartial"/>

<partial name="./OverviewPartials/_SocialContextVenuesOverviewPartial"/>

<partial name="./OverviewPartials/_PreviousHistoryOverviewPartial"/>

<partial name="./OverviewPartials/_MDRDetailsOverviewPartial"/>

<a href='#top' class="govuk-link--no-visited-state"> Back to top </a>