@page "/Notifications/{NotificationId:int}/{handler?}"
@using ntbs_service.Helpers
@model OverviewModel

@{
    Layout = "../Shared/_NotificationOverviewLayout.cshtml";
    ViewData["NotificationId"] = Model.NotificationId;
    ViewData["Title"] = $"Notification #{Model.NotificationId} overview";
    ViewData["CurrentPage"] = NotificationSubPaths.Overview;
}

<partial name="./OverviewPartials/_ClusterInformationOverviewPartial" for="Notification"/>

<partial name="./OverviewPartials/_PatientOverviewPartial"/>

<partial name="OverviewPartials/_HospitalDetailsOverviewPartial"/>

<partial name="./OverviewPartials/_ClinicalDetailsOverviewPartial"/>

<partial name="./OverviewPartials/_TreatmentEventsOverviewPartial"/>

<partial name="./OverviewPartials/_ContactTracingOverviewPartial"/>

<partial name="./OverviewPartials/_TestResultsOverviewPartial"/>

<partial name="./OverviewPartials/_SocialRiskFactorsOverviewPartial"/>

<partial name="./OverviewPartials/_TravelOverviewPartial"/>

<partial name="./OverviewPartials/_ComorbiditiesAndImmunosuppresionOverviewPartial"/>

<partial name="./OverviewPartials/_SocialContextAddressesOverviewPartial"/>

<partial name="./OverviewPartials/_SocialContextVenuesOverviewPartial"/>

<partial name="./OverviewPartials/_PreviousHistoryOverviewPartial"/>

@if (Model.Notification.IsMdr)
{
    <partial name="./OverviewPartials/_MDRDetailsOverviewPartial"/>
}

@if (Model.Notification.IsMBovis)
{
    <partial name="OverviewPartials/_MBovisExposureToKnownCasesOverviewPartial"/>
    
    <partial name="OverviewPartials/_MBovisUnpasteurisedMilkConsumptionOverviewPartial"/>
}

<a href='#top' class="govuk-link--no-visited-state no-print"> Back to top </a>