@model NotificationModelBase
@using ntbs_service.Pages

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
}

<nhs-width-container container-width="Standard">
    <div id="unauthorized-warning">
        <p>@(Messages.UnauthorizedWarning)</p>
    </div>
</nhs-width-container>