@model NotificationModelBase
@using ntbs_service.Pages
@using ntbs_service.Helpers

@{
    Layout = "../Shared/_NotificationLayoutWithSideMenu.cshtml";
    ViewData["CurrentPage"] = NotificationSubPaths.Overview;
}

<nhs-width-container container-width="Standard">
    <div id="unauthorized-warning">
        <p>@(Messages.UnauthorizedWarning)</p>
    </div>
</nhs-width-container>