@model ntbs_service.Pages_Notifications.NotificationModelBase
@using ntbs_service.Pages

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
}
<div id="unauthorized-warning">
    <p>@(Messages.UnauthorizedWarning)</p>
</div>