@model NotificationModelBase
@using ntbs_service.Pages
@using ntbs_service.Helpers

@{
    Layout = "../Shared/_NotificationLayoutWithAlertsAndSideMenu.cshtml";
    ViewData["CurrentPage"] = NotificationSubPaths.Overview;
}
<div id="unauthorized-warning">
    <p>@(Messages.UnauthorizedWarning)</p>
</div>