.git
.idea
.vscode
Dockerfile*
**/*.md

**/node_modules/
**/bin/
**/obj/
**/out/

# The deployment files don't affect the app source code, but often change when the rest of the app does not
ntbs-service/deployments/*

# Auxiliary apps - not needed for main deployment
load-test-data-generation/
load-tests/
temporarily-unavailable/
frontend-dotnetcore/**
!frontend-dotnetcore/dist
ntbs-nhs-razor-tags/**
!ntbs-nhs-razor-tags/dist
