.git
.idea
.vscode
Dockerfile*
**/*.md

**/node_modules/
**/bin/
**/obj/
**/out/

ntbs-service/deployments/*

# These files are massive and are useful in development but are not needed for building the app
**/*.Designer.cs