@page "/Help/{handler?}"
@using Markdig
@model ntbs_service.Pages.Help.Index

@{
    Layout = "./_Layout";
}

<nhs-width-container container-width="Standard">
    <h1>FAQ</h1>
    <nhs-expander-group>
        @foreach (var questionAndAnswer in Model.FAQs)
        {
            <nhs-details display-text="@questionAndAnswer.Question" nhs-details-type="Expander">
                @Html.Raw(Markdown.ToHtml(questionAndAnswer.Answer))
            </nhs-details>
        }
    </nhs-expander-group>
</nhs-width-container>