@page
@model ntbs_service.Pages.Help.MenuModel

@{
    Layout = "Shared/_Layout";
}

<nhs-width-container container-width="Standard">
    <h2 class="nhsuk-heading-l"> Help </h2>
   
    <div>
        <a class="submenu-list-item-non-js" href="/Help">
            FAQ
        </a>
    </div>
    <div>
        <a class="submenu-list-item-non-js" href="/ServiceDirectory">
            Service directory
        </a>
    </div>
</nhs-width-container>