@page
@model ntbs_service.Pages_Patients.CreateModel

@{
    ViewData["Title"] = "New Notification";
}
<!-- This page redirects to Edit on GET, so this should never be displayed. -->
<div>
    <a asp-page="Index">Back to List</a>
</div>