@page "{*:path}"
@model IndexModel
@{
    Layout = "./Shared/_Layout.cshtml";
}

<div class="nhsuk-width-container">
    <h1>Temporarily Unavailable</h1>
    <p>Welcome to the National Tuberculosis Surveillance System. The application is currently undergoing maintenance
        and will be back up soon.</p>
    @if (!string.IsNullOrWhiteSpace(Model.ReportsUrl)) {
        <p>In the meantime, you can access the new reporting functionality using the button below.</p>
        <a class="nhsuk-button ntbsuk-button--primary" href="@(Model.ReportsUrl)">Reports</a>
    }
</div>
