@page
@model ntbs_service.Pages.ServiceDirectory.IndexModel

@{
    Layout = "Shared/_Layout";
}

<nhs-width-container container-width="Standard">
    <h2 class="nhsuk-heading-l">Service directory</h2>
    <h3 class="nhsuk-heading-m"> Regions </h3>
    
    <div>
        @foreach (var regionGroupOfFour in Model.AllRegionsGrouped)
        {
            <nhs-grid-row>
                @foreach (var region in regionGroupOfFour)
                {
                    <nhs-grid-column grid-column-width="OneQuarter">
                        <a class="nhsuk-heading-m" href=@($"/ServiceDirectory/Region/{region.Code}")>@region.Name</a>
                    </nhs-grid-column>
                }
            </nhs-grid-row>
        }
    </div>
</nhs-width-container>