@page "{handler?}"
@model ntbs_service.Pages.ServiceDirectory.IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Service Directory";
}

<nhs-width-container container-width="Standard">

    <partial name="Partials/SearchFormPartial" model="Model"/>
    
    <h2 class="nhsuk-heading-l">Regions</h2>

    <div class="regions-container">
        @foreach (var region in Model.AllRegions)
        {
            <nhs-grid-column grid-column-width="OneQuarter">
                <a class="nhsuk-heading-m link-without-visited-state" href=@($"/ServiceDirectory/Region/{region.Code}")>
                    @region.Name
                </a>
            </nhs-grid-column>
        }
    </div>
</nhs-width-container>
