@page "/ServiceDirectory/Region/{PhecCode}"
@using ntbs_service.Pages.ServiceDirectory.Partials
@model ntbs_service.Pages.ServiceDirectory.RegionModel

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = Model.Phec.Name;
}
<nhs-width-container container-width="Standard">
    <back-link-retaining-history inline-template>
        <nhs-back-link v-on:click="navigateBack" href="/ServiceDirectory">Back</nhs-back-link>
    </back-link-retaining-history>
</nhs-width-container>

<nhs-width-container container-width="Standard">
    <h1 class="nhsuk-heading-xl">@Model.Phec.Name</h1>
    <h2 class="nhsuk-heading-l">Service directory</h2>

    <div class="govuk-accordion tb-services-and-case-managers" data-module="govuk-accordion" id="accordion-region-@Model.PhecCode">
        @if (Model.RegionalCaseManagers.Any())
        {
            var regionalTeamTableModel = new _UserTablePartialModel {Users = Model.RegionalCaseManagers, TableCaption = "", TableId = "regional-team"};
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h3 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-regional-team">
                            Regional Team
                        </span>
                    </h3>
                </div>
                <div id="accordion-content-regional-team" class="govuk-accordion__section-content">
                    <partial name="Partials/_UserTablePartial" model="regionalTeamTableModel"/>
                </div>
            </div>
        }
        @foreach (var tbServiceWithCaseManagers in Model.TbServicesWithCaseManagers)
        {
            var tbService = tbServiceWithCaseManagers.Key;
            var caseManagers = tbServiceWithCaseManagers.Value;
            var caseManagerTableModel = new _UserTablePartialModel {Users = caseManagers, TableCaption = "Case Managers", TableId = $"case-managers-{tbService.Code}"};
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h3 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-heading-@tbService.Code">
                            @tbService.Name
                        </span>
                    </h3>
                </div>
                <div id="accordion-content-@tbService.Code" class="govuk-accordion__section-content" 
                    aria-labelledby="accordion-heading-@tbService.Code">
                    @if (caseManagers.Any())
                    {
                        <partial name="Partials/_UserTablePartial" model="caseManagerTableModel"/>
                    }
                </div>
            </div>
        }
    </div>                                                              
</nhs-width-container>