@page
@using ntbs_service.Pages
@{
    ViewData["Title"] = "Unauthorized";
}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Unauthorized</h1>
        <p class="govuk-body">
          <p>@(Messages.UnauthorizedWarning)</p>
        </p>
      </div>
    </div>
  </main>
</div>