@using System
@using System.Linq
@model ntbs_service.Pages.IndexModel

@{
    var oneMonthAgo = DateTime.Now.AddDays(-30).ToString("dd MMM yyyy");
    var oneYearAndOneMonthAgo = DateTime.Now.AddDays(-395).ToString("dd MMM yyyy");
}
<div>
    @if (@Model.HomepageKpiDetails.Any())
    {
        <filtered-homepage-kpi class="homepage-kpi" inline-template>
            <div>
                <!-- Kpi details for non-JS browsers -->
                <div class="homepage-kpi-container-without-js" id="kpi-details">
                    <h2 class="heading" aria-label="Key Performance Indicators"> KPIs </h2>
                    <partial name="Shared/_HomepageKpiRow" model="@Model.HomepageKpiDetails.FirstOrDefault()"/>
                </div>
                
                 <!-- Kpi details for browsers with JS-->
                <div class="homepage-kpi-container-with-js" id="homepage-kpi-details">
                    <div class="flex-container">
                        <h2 class="heading"> KPIs </h2>
                        <label nhs-label-type="Standard" for="code-filter-dropdown" classes="filter-label" >
                            Filter by:
                        </label>
                        <select id="code-filter-dropdown" nhs-select-type="Standard" ref="filterByCode" asp-items="Model.KpiFilter"
                                v-on:change="updateKpiDetails" classes="filter-dropdown">
                        </select>
                    </div>
                    <br/>
                    <div v-cloak>
                        @foreach (var item in Model.HomepageKpiDetails)
                        {
                            <div id="kpi-@item.Code" class="v-cloak-homepage-kpi" v-if="CodeFilter === '@item.Code'">
                                <partial name="Shared/_HomepageKpiRow" model="@item"/>
                            </div>
                        }
                    </div>
                </div>    
                
                <span> Based on records notified between @oneYearAndOneMonthAgo and @oneMonthAgo </span>  
            </div>
        </filtered-homepage-kpi>
    }
</div>