@model ntbs_service.Pages.IndexModel

<div>
    <filtered-homepage-kpi inline-template>
        <div>
          <div class="non-js-disp">
              <div id="kpi-ode">
                  <partial name="Shared/_HomepageKpiRow" model="@Model.HomepageKpiDetails.FirstOrDefault()"/>
              </div>
          </div>
          <div class="js-disp" id="homepage-kpi-details">
              <div class="flex-container">
                  <label nhs-label-type="Standard" for="code-filter-dropdown" classes="homepage-kpi-filter-label" >
                      Filter by:
                  </label>
                  <select id="code-filter-dropdown" nhs-select-type="Standard" ref="filterByCode" asp-items="Model.Codes"
                      v-on:change="updateKpiDetails" classes="homepage-kpi-filter-dropdown">
                  </select>
              </div>
              <br/>
              
              <div v-cloak>
                  @foreach (var item in Model.HomepageKpiDetails)
                  {
                      <div id="kpi-@item.Code" class="v-clock-homepage-kpi" v-if="CodeFilter === '@item.Code'">
                          <partial name="Shared/_HomepageKpiRow" model="@item"/>
                      </div>
                  }
              </div>
          </div>      
        </div>
    </filtered-homepage-kpi>
</div>