@page
@model ntbs_service.Pages.Health

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>NTBS - Status page</title>
</head>
<body>
<div>
Release: @Model.Release    
    
</div>
</body>
</html>