@page
@model ntbs_service.Pages.Health

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>NTBS - Status page</title>
</head>
<body>
<div>
<h1>Release</h1>
Release: @Model.Release
<h2>Optional modules</h2>
<div>Audit: @(Model.AuditEnabled ? "enabled" : "disabled")</div>
<div>Cluster matching: @(Model.ClusterMatchingEnabled ? "enabled" : "disabled")</div>
<div>Reference lab restults: @(Model.ReferenceLabResultsEnabled ? "enabled" : "disabled")</div>

</div>
</body>
</html>