@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">National TB Surveillance</h1>
    <test-button inline-template>
        <a v-on:blur="onBlur" href="/Notifications/Create" role="button" draggable="false" class="nhsuk-button">
            Do
        </a>
    </test-button>
</div>