@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">National TB Surveillance</h1>
    <a href="/Notifications/Create" role="button" draggable="false" class="nhsuk-button">
        Create new case
    </a>
</div>