@page
@model PostLogoutModel
@{
    ViewData["Title"] = "You have been logged out";
}

<!DOCTYPE html>

<html>
<head>
    <title>You have been logged out</title>
</head>
<body>
<nhs-width-container container-width="Standard">
    <h1>You have been logged out</h1>

    <a href="/Index" role="button" draggable="false" class="nhsuk-button ntbsuk-button--primary">
        Log back in
    </a>
</nhs-width-container>
</body>
</html>
