@page
@model ntbs_service.Pages_SearchOld.IndexModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<h4>Parameters</h4>
<hr />
<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="NotificationId"></label>
            <input asp-for="NotificationId" />
            <span asp-validation-for="NotificationId"></span>
        </div>
        <div>
            <input type="submit" value="Search" />
        </div>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].NotificationDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationDate)
            </td>
        </tr>
}
    </tbody>
</table>
