@page
@model ntbs_service.Pages.Admin.Index

@{
    ViewData["Title"] = "Admin";
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Admin</title>
</head>
<body>
<nhs-width-container container-width="Standard">
    <ul>
        <li><a href="/Health">Health page</a></li>
        <li><a href="/Admin/Migration">Trigger migration</a></li>
        <li><a href="/hangfire">Hangfire dashboard</a></li>
        <li><a href="/hangfire/recurring">Hangfire recurring jobs</a></li>
    </ul>
</nhs-width-container>    
</body>
</html>