@using ntbs_service.Helpers
@model ntbs_service.Pages.Alerts.TransferRequestModel

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = $"Transfer Request - {Model.TransferAlert.AlertId}";
}

<nhs-width-container container-width="Standard">
    <h2> Notification #@Model.NotificationId has been accepted </h2>
    <div> You can now edit this notification </div>
    <br>
    <a id="return-to-homepage" href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.Overview)" 
        class="nhsuk-button return-to-homepage-link">
        Return to the notification
    </a>
</nhs-width-container>