@page "/Notifications/{NotificationId:int}/TransferDeclined/{handler?}"

@using ntbs_service.Helpers
@model ntbs_service.Pages.Alerts.TransferRejectedModel

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = $"Transfer Request - {Model.NotificationId}";
}

<nhs-width-container container-width="Standard">
    <h2> Transfer for Notification #@Model.NotificationId has been declined </h2>
    
    <br>
    
    <div> @Model.TransferRejectedAlert.CaseManagerTbServiceString: </div>
    
    <br/>
    
    <div class="rejection-note"> @Model.TransferRejectedAlert.RejectionReason </div>

    <form method="post" autocomplete="off">
        <div class="flex-container">
            <button nhs-button-type="Standard" id="cancel-transfer-button" classes="confirm-transfer-button">
                Dismiss
            </button>
            <nhs-back-link href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.Overview)" 
                classes="transfer-request-back-link">
                Go back
            </nhs-back-link>
        </div>
    </form>
</nhs-width-container>