@model ntbs_service.Models.Entities.Notification

@if (Model.ClusterId != null)
{
    <div class="notification-overview-type-and-edit-container">
        <h3 class="notification-details-type">
            @Html.DisplayNameFor(m => m.ClusterId):

            <partial name="_ClusterIdLink" model="@Model"/>
        </h3>
    </div>
}
