@{
    var notificationId = ViewData["NotificationId"];
}

<div class="notification-overview-type-and-edit-container">
    <h3 class="notification-details-type"> Co-morbidities and immunosuppresion </h3>
    <a href="./Edit/Comorbidities?id=@notificationId" class="notification-edit-link"> Edit </a>
</div> 
<div class="notification-overview-details-container">
    <div class="nhsuk-grid-row notification-overview-details">
        <div class="nhsuk-grid-column-one-third">
            <div class="notification-details-label"> Diabetes </div>
            <div class="empty-cell-min-height">  </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <div class="notification-details-label"> Hepatitis B </div>
            <div class="empty-cell-min-height">  </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <div class="notification-details-label"> Hepatitis C </div>
            <div class="empty-cell-min-height">  </div>
        </div>
    </div>
    <div class="nhsuk-grid-row notification-overview-details">
        <div class="nhsuk-grid-column-one-third">
            <div class="notification-details-label"> Chronic Liver Disease </div>
            <div class="empty-cell-min-height">  </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <div class="notification-details-label"> Chronic Renal Disease </div>
            <div class="empty-cell-min-height">  </div>
        </div>
    </div>
    <div class="nhsuk-grid-row notification-overview-details">
        <div class="nhsuk-grid-column-one-third">
            <div class="notification-details-label"> Immunosuppresion </div>
            <div class="empty-cell-min-height">  </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <div class="notification-details-label"> Type </div>
            <div class="empty-cell-min-height">  </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <div class="notification-details-label"> Further information </div>
            <div class="empty-cell-min-height">  </div>
        </div>
    </div>
</div>
