@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditMBovisExposureToKnownCases;
}

<div class="notification-overview-type-and-edit-container" id="@OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath)">
    <h3 class="notification-details-type"> M. bovis - Exposure to known cases </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    }
</div>
<div class="notification-overview-details-container">
    @if (Model.Notification.MBovisDetails.HasExposureToKnownCases != null)
    {
        <nhs-grid-row>
            <nhs-grid-column grid-column-width="OneQuarter">
                <div class="notification-details-label"> @Html.DisplayNameFor(m => m.Notification.MBovisDetails.HasExposureToKnownCases) </div>
                <div class="cell-min-height"> @Model.Notification.MBovisDetails.HasExposureToKnownCases.FormatYesNo() </div>
            </nhs-grid-column>
        </nhs-grid-row>
        <br/>
        <partial name="Shared/_MBovisExposureToKnownCaseTable" for="Notification.MBovisDetails.MBovisExposureToKnownCases"/>
    }
    else
    {
        <dl>No recorded exposures to known cases</dl>
    }
</div>