@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

@{
    var sectionSubPath = NotificationSubPaths.EditMBovisAnimalExposures;
}

<div class="notification-overview-type-and-edit-container" id="@OverviewSubPathToAnchorMap.GetOverviewAnchorId(sectionSubPath)">
    <h3 class="notification-details-type"> M. bovis - Animal exposure </h3>
    @if (Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, sectionSubPath)"
           class="notification-edit-link govuk-link--no-visited-state">
            Edit
        </a>
    }
</div>
<div class="notification-overview-details-container">
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="OneHalf">
            <div class="notification-details-label"> @Html.DisplayNameFor(m => m.Notification.MBovisDetails.HasAnimalExposure) </div>
            <div class="cell-min-height"> @Model.Notification.MBovisDetails.HasAnimalExposure.FormatYesNo() </div>
        </nhs-grid-column>
    </nhs-grid-row>

    <partial name="Shared/_MBovisAnimalExposureTable" for="Notification.MBovisDetails.MBovisAnimalExposures"/>
</div>