@using ntbs_service.Helpers
@using ntbs_service.Models.Enums
@model OverviewModel

<div class="notification-overview-type-and-edit-container">
    <h3 class="notification-details-type"> Previous history of TB (pre-2000) </h3>
    @if(Model.PermissionLevel == PermissionLevel.Edit)
    {
        <a href="@RouteHelper.GetNotificationPath(Model.NotificationId, NotificationSubPaths.EditPreviousHistory)"
        class="notification-edit-link govuk-link--no-visited-state"> Edit </a>
    }
</div>
<div class="notification-overview-details-container">
    <nhs-grid-row classes="notification-overview-details">
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Previous notification of TB </div>
            <div class="cell-min-height"> @Model.Notification.NotPreviouslyHadTBYesNo </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Year of previous notification </div>
            <div class="cell-min-height"> @Model.Notification.PatientTBHistory.PreviousTBDiagnosisYear </div>
        </nhs-grid-column>
    </nhs-grid-row>
    <nhs-grid-row classes="notification-overview-details">
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Drug therapy </div>
            <div class="cell-min-height">  </div>
        </nhs-grid-column>
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> Treatment in UK </div>
            <div class="cell-min-height">  </div>
        </nhs-grid-column>
    </nhs-grid-row>
</div>
