@using ntbs_service.Helpers
@model ntbs_service.Models.Entities.TestData

@{
    var notificationId = (int)ViewData["NotificationId"];
}

<div class="notification-overview-type-and-edit-container">
    <h3 class="notification-details-type"> Test results </h3>
    <a href="@RouteHelper.GetNotificationPath(notificationId, NotificationSubPaths.EditTestResults)"
       class="notification-edit-link govuk-link--no-visited-state"> Edit </a>
</div>
<div class="notification-overview-details-container">
    <nhs-grid-row classes="notification-overview-details">
        <nhs-grid-column grid-column-width="OneThird">
            <div class="notification-details-label"> @Html.DisplayNameFor(m => m.HasTestCarriedOut) </div>
            <div class="cell-min-height"> @Model.HasTestCarriedOut.FormatYesNo() </div>
        </nhs-grid-column>
    </nhs-grid-row>
    
    @if (Model.HasTestCarriedOut == true)
    {
        ViewData["RenderReducedSizeManualResultsTable"] = true;
        
        <partial name="Shared/_ManualTestResultTable" for="ManualTestResults" />
    }
</div>
