@model ntbs_service.Models.Notification

@{
    var buttonName = Model?.NotificationStatus == NotificationStatus.Draft ? "Save and continue" : "Save";
}
<button
    nhs-button-type="Standard"
    classes="ntbsuk-button--primary"
    name="actionName"
    value="Save"
    id="save-button">
    @buttonName
</button>