@model ntbs_service.Models.Notification

@{
    var buttonName = Model?.NotificationStatus == NotificationStatus.Notified ? "Save" : "Save and continue";
}
<button nhs-button-type="Standard" asp-page-handler="Save">@buttonName</button>