@using ntbs_service.Models.Enums
@model ntbs_service.Models.Entities.RiskFactorDetails

@{
    var prefix = ViewData["propertyName"];
    var questionText = ViewData["questionText"];
}

<div>
    <nhs-form-group nhs-form-group-type="Standard">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard">
                @questionText
            </nhs-fieldset-legend>
            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input asp-for="Status" id="@prefix-radio-button-yes" class="nhsuk-radios__input" value="Yes" type="radio" data-aria-controls="conditional-radio-@prefix">
                    <label class="nhsuk-label nhsuk-radios__label" for="@prefix-radio-button-yes">
                        @Status.Yes
                    </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-radio-@prefix">
                    <nhs-form-group nhs-form-group-type="Standard">
                        <nhs-fieldset>
                            <nhs-fieldset-legend nhs-legend-size="Standard" classes="govuk-visually-hidden">
                                In what timescale did this affect the patient?
                            </nhs-fieldset-legend>
                            <nhs-checkboxes>
                                <nhs-checkboxes-item>
                                    <input nhs-input-type="Checkboxes" asp-for="IsCurrentView"/>
                                    <label nhs-label-type="Checkboxes" asp-for="IsCurrentView">Current</label>
                                </nhs-checkboxes-item>
                                <nhs-checkboxes-item>
                                    <input nhs-input-type="Checkboxes" asp-for="InPastFiveYearsView"/>
                                    <label nhs-label-type="Checkboxes" asp-for="InPastFiveYearsView">In the past 5 years</label>
                                </nhs-checkboxes-item>
                                <nhs-checkboxes-item>
                                    <input nhs-input-type="Checkboxes" asp-for="MoreThanFiveYearsAgoView"/>
                                    <label nhs-label-type="Checkboxes" asp-for="MoreThanFiveYearsAgoView">More than 5 years ago</label>
                                </nhs-checkboxes-item>
                            </nhs-checkboxes>
                        </nhs-fieldset>
                    </nhs-form-group>
                </div>

                <div class="nhsuk-radios__item">
                    <input asp-for="Status" id="@prefix-radio-button-no" class="nhsuk-radios__input" value="No" type="radio">
                    <label class="nhsuk-label nhsuk-radios__label" for="@prefix-radio-button-no">
                        @Status.No
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input asp-for="Status" id="@prefix-radio-button-unknown" class="nhsuk-radios__input" value="Unknown" type="radio">
                    <label class="nhsuk-label nhsuk-radios__label" for="@prefix-radio-button-unknown">
                        @Status.Unknown
                    </label>
                </div>
            </div>
        </nhs-fieldset>
    </nhs-form-group>
</div>