@using ntbs_service.Helpers
@using ntbs_service.Models
@using ntbs_service.Models.Enums
@model ntbs_service.Models.Entities.Notification

@{
    var isDraft = Model.NotificationStatus == NotificationStatus.Draft;
    var pageHasEditableContent = (bool?) ViewData["PageHasEditableContent"] ?? true;
    var currentPage = (string) ViewData["CurrentPage"];
    var isLastPage = (bool?) ViewData["IsLastPage"] ?? false;

    var buttonName = "";
    
    if (!pageHasEditableContent)
    {
        buttonName = "Continue";
    }
    else if (isDraft && !isLastPage)
    {
        buttonName = "Save and continue";
    }
    else
    {
        buttonName = "Save";
    }

    var backLinkText = pageHasEditableContent ? "Cancel & go back" : "Go back";

    var id = ViewData.ContainsKey("id") ? ViewData["id"] : "save-button";
}

@if (isDraft && isLastPage && !pageHasEditableContent)
{
    return;
}

@if (isDraft || pageHasEditableContent)
{
    <button
        nhs-button-type="Standard"
        classes="ntbsuk-button--primary"
        name="actionName"
        value="@ActionNameString.Save"
        id="@id">
        @buttonName
    </button>
}

@if (!isDraft)
{
    <nhs-back-link data-ignore-form-leave-checker="true" href="@RouteHelper.GetNotificationOverviewPathWithSectionAnchor(Model.NotificationId, currentPage)">@backLinkText</nhs-back-link>
}