@using ntbs_service.Models.Enums
@model ntbs_service.Models.Entities.Notification

@{
    var buttonName = Model?.NotificationStatus == NotificationStatus.Draft ? "Save and continue" : "Save";
    var id = @ViewData.ContainsKey("id") ? @ViewData["id"] : "save-button";
}
<button
    nhs-button-type="Standard"
    classes="ntbsuk-button--primary"
    name="actionName"
    value="Save"
    id=@id >
    @buttonName
</button>