@page "{handler?}"
@model ntbs_service.Pages_Notifications.ClinicalTimelineModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    Layout = "../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = "Notification - Clinical Timeline";
    ViewData["PageType"] = "clinicalDetails";
}
@{string errorClassName = "nhsuk-form-group--error";}
<div><a asp-page="/Patients/Index">Back to List</a></div>

<h2>Clinical Timeline</h2>

<div class="row">
    <date-comparison inline-template>
        <!-- TODO style="width: 100%" is needed currently (possibly due to the use of col-md-5 div)  -->
            <form method="post" style="width: 100%">
                <div class="col-md-5">
                <h4 class="text-warning" v-if="dateComparisonError">{{dateComparisonError}}</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="NotificationId" />
                <validate-date ref="date0" name="Symptom Onset Date" model="ClinicalTimeline" property="SymptomStartDate" rank="0" v-model="dates[0]" inline-template>
                    @{
                        var SymptomError = !Model.IsValid("ClinicalTimeline.SymptomStartDate");
                        var SymptomGroupState = SymptomError ? Error : Standard;
                    }
                    <nhs-form-group nhs-form-group-type=@SymptomGroupState v-bind:class="{ 'nhsuk-form-group--error': hasError}">
                        <nhs-fieldset aria-describedby="symptom-error" role="group">
                            <nhs-fieldset-legend nhs-legend-size="Standard">Symptom Onset Date</nhs-fieldset-legend>
                            <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalTimeline.SymptomStartDate" id="symptom-error"></span>
                            <nhs-date-input id="symptom">
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@SymptomGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Day">Day</label>
                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two" is-error-input=@SymptomError asp-for="FormattedSymptomDate.Day" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@SymptomGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Month">Month</label>
                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two" is-error-input=@SymptomError asp-for="FormattedSymptomDate.Month" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@SymptomGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedSymptomDate.Year">Year</label>
                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four" is-error-input=@SymptomError asp-for="FormattedSymptomDate.Year" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                            </nhs-date-input>
                        </nhs-fieldset>
                    </nhs-form-group>
                </validate-date>
                <br/>

                <validate-date ref="date1" name="Presentation Date" model="ClinicalTimeline" property="PresentationDate" rank="1" v-model="dates[1]" inline-template>
                    @{
                        var PresentationError = !Model.IsValid("ClinicalTimeline.PresentationDate");
                        var PresentationGroupState = PresentationError ? Error : Standard;
                    }
                    <nhs-form-group nhs-form-group-type=@PresentationGroupState v-bind:class="{ 'nhsuk-form-group--error': hasError}">
                        <nhs-fieldset aria-describedby="presentation-error" role="group">
                            <nhs-fieldset-legend nhs-legend-size="Standard">Presentation Date</nhs-fieldset-legend>
                            <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalTimeline.PresentationDate" id="presentation-error"></span>
                            <nhs-date-input id="presentation">
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@PresentationGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedPresentationDate.Day">Day</label>
                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two" is-error-input=@PresentationError asp-for="FormattedPresentationDate.Day" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@PresentationGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedPresentationDate.Month">Month</label>
                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two" is-error-input=@PresentationError asp-for="FormattedPresentationDate.Month" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@PresentationGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedPresentationDate.Year">Year</label>
                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four" is-error-input=@PresentationError asp-for="FormattedPresentationDate.Year" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                            </nhs-date-input>
                        </nhs-fieldset>
                    </nhs-form-group>
                </validate-date>
                <br/>

                <validate-date ref="date2" name="Diagnosis Date" model="ClinicalTimeline" property="DiagnosisDate" rank="2" v-model="dates[2]" inline-template>
                    @{
                        var DiagnosisError = !Model.IsValid("ClinicalTimeline.DiagnosisDate");
                        var DiagnosisGroupState = DiagnosisError ? Error : Standard;
                    }
                    <nhs-form-group nhs-form-group-type=@DiagnosisGroupState v-bind:class="{ 'nhsuk-form-group--error': hasError}">
                        <nhs-fieldset aria-describedby="diagnosis-error" role="group">
                            <nhs-fieldset-legend nhs-legend-size="Standard">Diagnosis Date</nhs-fieldset-legend>
                            <span nhs-span-type="ErrorMessage" ref="errorField" asp-validation-for="ClinicalTimeline.DiagnosisDate" id="diagnosis-error"></span>
                            <nhs-date-input id="diagnosis">
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@DiagnosisGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Day">Day</label>
                                    <input v-on:blur="validate" ref="dayInput" nhs-input-type="Date" fixed-width="Two" is-error-input=@DiagnosisError asp-for="FormattedDiagnosisDate.Day" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@DiagnosisGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Month">Month</label>
                                    <input v-on:blur="validate" ref="monthInput" nhs-input-type="Date" fixed-width="Two" is-error-input=@DiagnosisError asp-for="FormattedDiagnosisDate.Month" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                                <nhs-date-input-item>
                                    <nhs-form-group nhs-form-group-type=@DiagnosisGroupState>
                                    <label nhs-label-type="Date" asp-for="FormattedDiagnosisDate.Year">Year</label>
                                    <input v-on:blur="validate" ref="yearInput" nhs-input-type="Date" fixed-width="Four" is-error-input=@DiagnosisError asp-for="FormattedDiagnosisDate.Year" v-bind:class="{ 'nhsuk-input--error': hasError}"/>
                                    </nhs-form-group>
                                </nhs-date-input-item>
                            </nhs-date-input>
                        </nhs-fieldset>
                    </nhs-form-group>
                </validate-date>
                <br/>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="nhsuk-radios__item">
                                <input asp-for="ClinicalTimeline.DidNotStartTreatment" class="nhsuk-radios__input" type="radio" value="false" data-aria-controls="conditional-treatment-conditional">
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="ClinicalTimeline.DidNotStartTreatment">
                                    Patient started treatment
                                </label>
                            </div>
                            <validate-date ref="date3" name="Treatment Start Date" model="ClinicalTimeline" property="TreatmentStartDate" rank="3" v-model="dates[3]" inline-template>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-treatment-conditional">
                                    @{var treatmentErrorClass = !Model.IsValid("ClinicalTimeline.TreatmentStartDate") ? errorClassName : ""; }
                                    <div class="nhsuk-form-group @treatmentErrorClass" v-bind:class="{ 'nhsuk-form-group--error': hasError}">
                                        <fieldset class="nhsuk-fieldset" aria-describedby="treatment-error" role="group">
                                            <span class="nhsuk-error-message" id="treatment-error">
                                                <span ref="errorField" asp-validation-for="ClinicalTimeline.TreatmentStartDate"></span>
                                            </span>
                                            <div class="nhsuk-date-input" id="treatment">
                                                <div class="nhsuk-date-input__item">
                                                    <div class="nhsuk-form-group">
                                                        <label class="nhsuk-label nhsuk-date-input__label" asp-for="FormattedTreatmentDate.Day">
                                                            Day
                                                        </label>
                                                        <input v-on:blur="validate" ref="dayInput" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" asp-for="FormattedTreatmentDate.Day" type="number" pattern="[0-9]*">
                                                    </div>
                                                </div>
                                                <div class="nhsuk-date-input__item">
                                                    <div class="nhsuk-form-group">
                                                        <label class="nhsuk-label nhsuk-date-input__label" asp-for="FormattedTreatmentDate.Month">
                                                            Month
                                                        </label>
                                                        <input v-on:blur="validate" ref="monthInput" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" asp-for="FormattedTreatmentDate.Month" type="number" pattern="[0-9]*">
                                                    </div>
                                                </div>
                                                <div class="nhsuk-date-input__item">
                                                    <div class="nhsuk-form-group">
                                                        <label class="nhsuk-label nhsuk-date-input__label" asp-for="FormattedTreatmentDate.Year">
                                                            Year
                                                        </label>
                                                        <input v-on:blur="validate" ref="yearInput" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" asp-for="FormattedTreatmentDate.Year" type="number" pattern="[0-9]*">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </validate-date>
                            <div class="nhsuk-radios__item">
                                <input asp-for="ClinicalTimeline.DidNotStartTreatment" class="nhsuk-radios__input" type="radio" value="true">
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="ClinicalTimeline.DidNotStartTreatment">
                                    Patient did not start treatment
                                </label>
                            </div>   
                        </div>
                    </fieldset>
                </div>
                <br/>

                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="nhsuk-radios__item">
                                <input asp-for="ClinicalTimeline.IsPostMortem" class="nhsuk-radios__input" type="radio" value="true" data-aria-controls="conditional-postmortem-conditional">
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="ClinicalTimeline.IsPostMortem">
                                    Is Post Mortem Diagnosis
                                </label>
                            </div>
                            <validate-date ref="date4" name="Death Date" model="ClinicalTimeline" property="DeathDate" rank="4" v-model="dates[4]" inline-template>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-postmortem-conditional">
                                    @{var deathErrorClass = !Model.IsValid("ClinicalTimeline.DeathDate") ? errorClassName : ""; }
                                    <div class="nhsuk-form-group @deathErrorClass" v-bind:class="{ 'nhsuk-form-group--error': hasError}">
                                        <fieldset class="nhsuk-fieldset" aria-describedby="postmortem-error" role="group">
                                            <span class="nhsuk-error-message" id="postmortem-error">
                                                <span ref="errorField" asp-validation-for="ClinicalTimeline.DeathDate"></span>
                                            </span>
                                            <div class="nhsuk-date-input" id="postmortem">
                                                <div class="nhsuk-date-input__item">
                                                    <div class="nhsuk-form-group">
                                                        <label class="nhsuk-label nhsuk-date-input__label" asp-for="FormattedDeathDate.Day">
                                                            Day
                                                        </label>
                                                        <input v-on:blur="validate" ref="dayInput" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" asp-for="FormattedDeathDate.Day" type="number" pattern="[0-9]*">
                                                    </div>
                                                </div>
                                                <div class="nhsuk-date-input__item">
                                                    <div class="nhsuk-form-group">
                                                        <label class="nhsuk-label nhsuk-date-input__label" asp-for="FormattedDeathDate.Month">
                                                            Month
                                                        </label>
                                                        <input v-on:blur="validate" ref="monthInput" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" asp-for="FormattedDeathDate.Month" type="number" pattern="[0-9]*">
                                                    </div>
                                                </div>
                                                <div class="nhsuk-date-input__item">
                                                    <div class="nhsuk-form-group">
                                                        <label class="nhsuk-label nhsuk-date-input__label" asp-for="FormattedDeathDate.Year">
                                                            Year
                                                        </label>
                                                        <input v-on:blur="validate" ref="yearInput" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" asp-for="FormattedDeathDate.Year" type="number" pattern="[0-9]*">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </validate-date>
                            <div class="nhsuk-radios__item">
                                <input asp-for="ClinicalTimeline.IsPostMortem" class="nhsuk-radios__input" type="radio" value="false">
                                <label class="nhsuk-label nhsuk-radios__label" asp-for="ClinicalTimeline.IsPostMortem">
                                    Is Not Post Mortem
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <br/>
                </div>
                <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
                <ul class="nhsuk-list nhsuk-pagination__list">
                
                    <li class="nhsuk-pagination-item--previous">
                    <button asp-page-handler="PreviousPage" type="submit" class="remove-button-styling-add-orange-hover nhsuk-pagination__link nhsuk-pagination__link--prev text-align-left">
                        <span class="nhsuk-pagination__title">Previous</span>
                        <span class="nhsuk-u-visually-hidden">:</span>
                        <span class="nhsuk-pagination__page">Patient details</span>
                        <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
                        </svg>
                    </button>
                    </li>
                
                    <li class="nhsuk-pagination-item--next">
                    <button asp-page-handler="NextPage" type="submit" class="remove-button-styling-add-orange-hover nhsuk-pagination__link nhsuk-pagination__link--next text-align-right">
                        <span class="nhsuk-pagination__title">Next</span>
                        <span class="nhsuk-u-visually-hidden">:</span>
                        <span class="nhsuk-pagination__page">Contact Tracing</span>
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                        </svg>
                    </button>
                    </li>
                </ul>
                </nav>
        </form>
    </date-comparison>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
