@page "/Notifications/{NotificationId:int}/Edit/ClinicalDetails/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.ClinicalDetailsModel
@using ntbs_service.Helpers
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@using ntbs_service.Models.Entities
@using ntbs_service.Models.Enums
@using ntbs_service.Models.ReferenceEntities

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    ViewData["Title"] = "Notification - Clinical Details";
    ViewData["CurrentPage"] = NotificationSubPaths.EditClinicalDetails;
    var fullValidation = Model.ClinicalDetails.ShouldValidateFull ? "True" : "False";
    ViewData["FullValidation"] = fullValidation;
}

<partial name="_SinglePageErrorSummaryPartial" />

<div>
    <input type="hidden" asp-for="PatientBirthYear" />

    <partial name="_ClinicalDetailsSites" />

    <partial name="_ClinicalDetailsOther"/>
    <br />

    <partial name="_ClinicalDetailsDates"/>
    <br />
    
    <partial name="_ClinicalDetailsTreatmentOptions"/>
</div>
