@page "/Notifications/{NotificationId:int}/Edit/ClinicalDetails/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.ClinicalDetailsModel
@using ntbs_service.Helpers
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType
@using ntbs_service.Models.Entities
@using ntbs_service.Models.Enums
@using ntbs_service.Models.ReferenceEntities

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    ViewData["Title"] = "Notification - Clinical Details";
    ViewData["CurrentPage"] = NotificationSubPaths.EditClinicalDetails;
    var fullValidation = Model.ClinicalDetails.ShouldValidateFull ? "True" : "False";
    ViewData["FullValidation"] = fullValidation;
}

<partial name="_SinglePageErrorSummaryPartial" />

<div>
    <input type="hidden" asp-for="PatientBirthYear" />

    <partial name="_ClinicalDetailsSites" />

    <partial name="_ClinicalDetailsOther"/>
    <br />

    <partial name="_ClinicalDetailsDates"/>
    <br />
    
    <partial name="_ClinicalDetailsTreatmentOptions"/>
    <br />
    
    <h2>Notes</h2>
    <div>
        @{
            var notesError = !Model.IsValid("ClinicalDetails.Notes");
            var notesGroupState = notesError ? Error : Standard;
        }
        <nhs-form-group nhs-form-group-type="@notesGroupState">
            <label asp-for="ClinicalDetails.Notes" nhs-label-type="Standard">
                Enter note
            </label>
            <span id="notes-error" nhs-span-type="ErrorMessage" asp-validation-for="ClinicalDetails.Notes" has-error="@notesError"></span>
            <input asp-for="ClinicalDetails.Notes" nhs-input-type="Standard" is-error-input="@notesError" aria-describedby="notes-error" />
        </nhs-form-group>
    </div>
</div>
