@page "{handler?}"
@model ntbs_service.Pages.Notifications.Edit.ComorbiditiesModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    Layout = "../../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = "Notification - Comorbidities";
}
<h1>Comorbidities</h1>

<partial name="_PaginationPartial" for="Notification" />