@page "/Notifications/{NotificationId:int}/Edit/Comorbidities/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.ComorbiditiesModel

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    var title = NotificationSection.Comorbidities.ToDisplayString();
    ViewData["Title"] = $"Notification #{Model.NotificationId} - {title}";
}

<partial name="_SinglePageErrorSummaryPartial" />

<h2> @title </h2>

<partial name="_ComorbidityStatuses" />

<partial name="_ComorbidityImmunosuppression" />
