@page "{handler?}"
@model ntbs_service.Pages_Notifications.ImmunosupressionModel
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
Layout = "../../Shared/_NotificationLayout.cshtml";
ViewData["Title"] = "Notification - Immunosupression";
}
<h1>Immunosupression</h1>

<partial name="_PaginationPartial" for="Notification">