@page "/Notifications/{NotificationId:int}/Edit/PreviousHistory/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.PreviousHistoryModel
@using ntbs_service.Helpers
@using static NHSUK.FrontEndLibrary.TagHelpers.FormGroupType

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    ViewData["Title"] = "Notification - Patient TB History";
    var fullValidation = Model.PatientTbHistory.ShouldValidateFull ? "True" : "False";
}

<partial name="_SinglePageErrorSummaryPartial"/>

<h2>Previous TB History </h2>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <nhs-form-group nhs-form-group-type="Standard" id="PatientTbHistory-PreviousTBDiagnosisYear">
        <nhs-fieldset>
            <nhs-fieldset-legend nhs-legend-size="Standard"> 
                 Please record any previous occurrence of TB for this patient which has not been notified to PHE through NTBS (or the legacy systems ETS/LTBR)
            </nhs-fieldset-legend>
            <nhs-hint nhs-hint-type="Standard" id="id-types-hint">
                For example: because the case was notified outside England, Wales or Northern Ireland, 
                or before the year 2000.
            </nhs-hint>
            <div class="nhsuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="nhsuk-radios__item">
                    <input asp-for="PatientTbHistory.PreviouslyHadTB" class="nhsuk-radios__input" type="radio" value="true" id="previous-tb-yes" 
                           data-aria-controls="conditional-previously-had-tb-conditional">
                    <label class="nhsuk-label nhsuk-radios__label" for="previous-tb-yes">
                        Yes
                    </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-previously-had-tb-conditional">
                    <validate-input model="PreviousHistory" property="PreviousTBDiagnosisYear" shouldvalidatefull="@fullValidation" inline-template>
                        @{
                            var hasPreviousTbDiagnosisError = !Model.IsValid("PatientTBHistory.PreviousTBDiagnosisYear");
                            var previousTbDiagnosisGroupState = hasPreviousTbDiagnosisError ? Error : Standard;
                        }
                        <nhs-form-group nhs-form-group-type="@previousTbDiagnosisGroupState">
                            <label nhs-label-type="Standard" asp-for="PatientTbHistory.PreviousTBDiagnosisYear"> Year of diagnosis </label>
                            <span nhs-span-type="ErrorMessage" id="previous-tb-diagnosis-year-error" ref="errorField"
                                  asp-validation-for="PatientTbHistory.PreviousTBDiagnosisYear" has-error="@hasPreviousTbDiagnosisError"></span>
                            <input  type="number" ref="inputField" v-on:blur="validate" is-error-input=@hasPreviousTbDiagnosisError
                                   nhs-input-type="Standard" fixed-width="Four" asp-for="PatientTbHistory.PreviousTBDiagnosisYear">
                        </nhs-form-group>
                    </validate-input>
                </div>

                <div class="nhsuk-radios__item">
                    <input asp-for="PatientTbHistory.PreviouslyHadTB" class="nhsuk-radios__input" type="radio" value="false" id="previous-tb-no">
                    <label class="nhsuk-label nhsuk-radios__label" for="previous-tb-no">
                        No
                    </label>
                </div>
            </div>
        </nhs-fieldset>
    </nhs-form-group>

    <br />
    

</div>
