@page "/Notifications/{id:int}/Edit/Travel/{handler?}"
@model ntbs_service.Pages.Notifications.Edit.TravelModel

@{
    Layout = "../../Shared/_NotificationLayout.cshtml";
    ViewData["Title"] = "Notification - Travel and visitor history";
}

<h2>Travel and visitor history</h2>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_TravelDetailsPartial" />
    <partial name="_VisitorDetailsPartial" />

    <partial name="_PaginationPartial" for="Notification" />
</div>
