@page "/Notifications/{NotificationId:int}/Edit/Travel/{handler?}"
@using ntbs_service.Helpers
@model ntbs_service.Pages.Notifications.Edit.TravelModel

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    ViewData["Title"] = "Notification - Travel and visitor history";
}

<partial name="_SinglePageErrorSummaryPartial" />

<h2>Travel and visitor history</h2>


<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <nhs-hint nhs-hint-type="Standard" id="id-types-hint">
        Please enter durations to the nearest month
    </nhs-hint>

    <partial name="_TravelDetailsPartial" />
    <partial name="_VisitorDetailsPartial" />

</div>
