@page "/Notifications/{NotificationId:int}/Edit/TreatmentEvents/{handler?}"
@using ntbs_service.Models
@model TreatmentEventsModel

@{
    Layout = "../../Shared/_NotificationEditLayout.cshtml";
    var title = NotificationSection.TreatmentEvents.ToDisplayString();
    ViewData["Title"] = $"Notification #{Model.NotificationId} - {title}";
    ViewData["ShowTreatmentEventEditLinks"] = true;
    ViewData["IsEditPage"] = false;
}

<partial name="_SinglePageErrorSummaryPartial"/>

<h2> @title </h2>

<div>
    <partial name="_TreatmentEventTable" for="Notification.TreatmentEvents" />

    <button id="add-new-treatment-event-button"
            nhs-button-type="Standard"
            classes="ntbsuk-button--primary"
            name="actionName"
            value="@ActionNameString.Create">
        Add New
    </button>
</div>