@page "{*:path}"
@model IndexModel

<div class="nhsuk-width-container">
    <h1>Coming soon</h1>
    <p>Welcome to the National Tuberculosis Surveillance System. This application is currently under development
        and will be available soon!</p>
    <p>In the meantime, you can access the new reporting functionality using the button below.</p>
    <button class="nhsuk-button ntbsuk-button--primary">Reports</button>
</div>
