@page "/Reports"
@model IndexModel
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nhs-width-container container-width="Standard">
    <h1>Reports</h1>

    <span>
        @if (!string.IsNullOrEmpty(Model.ReportingPageExternalUrl))
        {
            @: Attempted to navigate to
            <a class="govuk-link govuk-link--no-visited-state" href="@Model.ReportingPageExternalUrl" target="_blank" rel="noopener noreferrer">
                reports home page.
            </a>
        }
        else
        {
            @: The reporting service has not been configured for this app.
        }
    </span>
</nhs-width-container>
