@page "/Reports/{ReportType?}/{Id?}"
@model IndexModel
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nhs-width-container container-width="Standard">
    <h1>Reports</h1>

    <span>
        @if (!string.IsNullOrEmpty(Model.ReportType))
        {
            @: Attempted to navigate to report type: <strong>@Model.ReportType </strong>
            @if (!string.IsNullOrEmpty(Model.Id))
            {
                @: with Id <strong> @Model.Id </strong>
            } 
        }
        else
        {
            @: Attempted to navigate to reports home page.
        }
    </span>
</nhs-width-container>
