@page
@model ntbs_service.Pages_Search.IndexModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<h4>Parameters</h4>
<hr />
<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <!-- <label asp-for="SearchRequest.NhsNumber"></label>
            <input asp-for="SearchRequest.NhsNumber" />
            <span asp-validation-for="SearchRequest.NhsNumber"></span> -->
        </div>
        <div>
            <input type="submit" value="Search" />
        </div>
    </form>
</div>
<div>
    <!-- TODO this works if we are searching based off query strings -->
    <a href="/search">
        Clear search
    </a>
    <div>
        <p> @Model.SearchResults.numberOfResults Results found. </p>
        <p> To filter results, add more search terms and search again. </p>
    </div>
    <div>
        @foreach(var result in @Model.SearchResultsBannerDisplay) {
            <partial name="../Shared/_NotificationBanner.cshtml" model="result"/>
        }
    </div>
</div>