$phe-red: #822433;
$phe-red-dull: #610925;
$phe-navy: #002776;

$grey: #999999;
$lighter-grey: #CCCCCC;
$shaded-background-color: #F0F4F5;

$primary-button: $phe-red;
$primary-button-focus: $phe-red-dull;
$secondary-button: #425563;
$secondary-button-focus: #384854;
$button-drop-shadow: #003317;
$warning-button: #d4351c;
$warning-button-focus: #aa2a16;

$manage-notification-circle: $phe-red;
$manage-notification-expander-background: #ececec;
$inset-text-border: $phe-red;

$success-green: #00a551;
$specimen-card-border: $phe-navy;

$page-border: #e5e5e5;
$header-navigation-background: $phe-red;
$header-submenu-background: #f9f9f9;
$breadcrumb-trail-background: #DDDACF;
$kpi-card: $phe-red;

$button-link-hover: #ffcd60;
$button-link-focus: $color_nhsuk-warm-yellow;

$banner-header--draft: #dcc2c6;
$banner-border--draft: #8c3a47;
$banner-header--notified: $phe-red;
$banner-border--notified: $phe-red;
$banner-header--denotified: #787878;
$banner-border--denotified: black;
$banner-header--legacy: #ffdbbc;
$banner-border--legacy: #ff9c44;
