$ukhsa-teal: #007C91;
$ukhsa-teal-dull: #005665;
$ukhsa-yellow: #FFB81C;
$ukhsa-tangerine: #FF7F31;
$grey: #999999;
$lighter-grey: #CCCCCC;
$shaded-background-color: #F0F4F5;

$application-brand: $ukhsa-teal;
$application-brand-dull: $ukhsa-teal-dull;
$ref-lab-header: #003B5C;
$phe-yellow: $ukhsa-yellow;

$primary-button: $application-brand;
$primary-button-focus: $application-brand-dull;
$primary-button-drop-shadow: shade($primary-button, 50%);
$secondary-button: $grey;
$secondary-button-focus: #7a7a7a;
$secondary-button-drop-shadow: shade($secondary-button, 50%);
$warning-button: #d4351c;
$warning-button-focus: #aa2a16;
$warning-button-drop-shadow: shade($warning-button, 50%);

$manage-notification-circle: $application-brand;
$manage-notification-expander-background: #e5e5e5;
$inset-text-border: $application-brand;

$specimen-card-border: $ref-lab-header;

$live-data-warning-background: $phe-yellow;
$header-navigation-background: $application-brand;
$header-submenu-background: #f9f9f9;
$breadcrumb-trail-background: #DDDACF;
$kpi-card: $application-brand;

//$button-link-hover: #ffcd60;
$button-link-hover: $ukhsa-yellow;
$button-link-focus: $color_nhsuk-warm-yellow;

$banner-header--draft: #cce4e9;
$banner-border--draft: application-brand;
$banner-header--notified: $application-brand;
$banner-border--notified: $application-brand;
$banner-header--denotified: #787878;
$banner-border--denotified: black;
$banner-header--legacy: #FFD8C1;
$banner-border--legacy: $ukhsa-tangerine;

// Translate CSS colours into strings that can be used in URL-encoded SVGs,
// such as the "Manage notification" circle.
// See: https://stackoverflow.com/a/25478589
@function url-friendly-colour($colour) {
    @return '%23' + str-slice('#{$colour}', 2, -1)
}
