@import "./_colors.scss";

.alert-take-action-link {
    padding-left: 10px;
}

.confirm-transfer-button {
    margin: 0 25px 0 0;
}

.transfer-request-back-link {
    margin: auto 0;
}

.pending-transfer-return-link {
    margin: auto 25px auto 0;
}

.pending-transfer-cancel-button {
    margin-bottom: 0;
}

.transfer-request-information {
    padding-bottom: 10px;
}

.action-transfer-request-label {
    padding-right: 5px;
}
