@import "./_colors.scss";
@import "./breakpoints";

.alert-take-action-link {
    padding-left: 10px;
}

.confirm-transfer-button {
    margin: 0 25px 0 0;
}

.transfer-request-back-link {
    margin: auto 0;
}

.pending-transfer-return-link {
    margin: auto 25px auto 0;
}

.pending-transfer-cancel-button {
    margin-bottom: 0;
}

.transfer-request-information {
    padding-bottom: 10px;
}

.transfer-request-information-label {
    padding-right: 12px;
}

.transfer-request-information-label--no-wrap {
    padding-right: 10px;
    white-space: normal;

    @media(min-width: $tablet_breakpoint) {
        white-space: nowrap;
    }
}
