@import "./colors.scss";

.ntbsuk-button--primary {
    background-color: $primary-button;
    box-shadow: 0 4px 0 $primary-button-drop-shadow;
    margin-bottom: 24px;

    &:hover {
        background-color: $primary-button-focus;
    }
}

.ntbsuk-button--secondary {
    background-color: $secondary-button;
    box-shadow: 0 4px 0 $secondary-button-drop-shadow;
    margin-bottom: 24px;

    &:hover {
        background-color: $secondary-button-focus;
    }
}

.ntbsuk-button--warning {
    background-color: $warning-button;
    box-shadow: 0 4px 0 $warning-button-drop-shadow;

    &:hover {
        background-color: $warning-button-focus;
    }
}
