.case-manager-details-edit-container {
    display: flex;
    border-bottom: 1px solid #cccccc;
    padding-top: 10px;
    width: 70%;
}

.case-manager-details-container {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 70%;
}

.case-manager-details-edit-link {
  margin: auto 5px 14px auto;

  @media print {
    display: none;
  }
}

.submenu-list-item-non-js {
  font-size: x-large;
}

.case-manager-search-result-container {
    width: 70%;
    margin-bottom: 18px;
    border-bottom: 1px solid #cccccc;
  
    a {
        text-decoration: none;
        color: #005eb8;
    }
  
    .case-manager-search-result-name {
        font-size: 24px;
    }
}

.case-manager-results-summary {
    width: 70%;
    margin-bottom: 18px;
    border-bottom: 1px solid #cccccc;
}

.case-manager-search-result-item-summary {
    margin-bottom: 18px;

    .nhsuk-summary-list__row .nhsuk-summary-list__key {
        width: 10%;
        min-width: 100px;
    }
}

.case-manager-search-form {
    margin-bottom: 50px;
}

.case-manager-search-keyword {
    display: flex;
}

.case-manager-search-button {
  border-bottom: 2px solid #4c6272;
  border-top: 2px solid #4c6272;
  border-right: 2px solid #4c6272;
}