.flash-message {
  padding: 16px;
  margin-bottom: 24px;
  border: 4px solid black;

  &.flash-message--success {
    border-color: #00a551;
  }

  .flash-message-title {
    font-weight: 600;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
  }
}