@import "./colors";

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: $lighter-grey;
}

.footer-copyright-message-container {
    margin: 0 0 auto 0;
    padding-top: 5px;
}

.footer-body-and-copyright {
    display: flex;
}

.footer-copyright-message {
    padding: 0;
}

.footer-body {
    margin: 0;
}

.footer-link {
    font-size: medium;
}

.footer-link-list {
    margin-bottom: 5px;
}

