@import "./colors.scss";

.header-title-and-logo-background {
    background: white;
}

.header-navigation-background {
    background: $phe-red;
  
    @media print {
      display: none;
    }
}

@media print {
  .govuk-phase-banner {
    display: none;
  } 
}


.header-navigation-list {
    margin-bottom: 0;

    .header-navigation-list-item {
        font-size: large;
    }
}

@media (min-width: 48.0625em) {
    .js-enabled .govuk-header__navigation {
        display: flex;
        justify-content: space-around;
    }
}

.header-title {
    padding-bottom: 10px;
    color: black;
    font-family: "helveticaneuebold";
}


.no-border {
    border: none;
}

.header-logo {
    padding: 0 40px 5px 0;
    margin: 0;
    width: 200px;
    box-sizing: content-box;
}

.header-phe-logo {
    height: 30px;
    width: 200px;
}

.header-expand-menu-button {
    color: black;
}

.breadcrumb-trail {
    display: none;
}

@media (min-width: 48.0625em) {
    .breadcrumb-trail {
        display: block;
        height: 45px;
        background-color: #DAD7CB;
        margin-top: 10px;
      
        @media print {
          display: none;
        }
    }
}
