@import "./colors.scss";

.header-title-and-logo-background {
    background: white;
}

.header-navigation-background {
    background: $header-navigation-background;

    @media print {
        display: none;
    }
}

@media print {
    .govuk-phase-banner {
        display: none;
    }
}

.header-navigation-list {
    margin-bottom: 0;

    .header-navigation-list-item {
        font-size: large;
    }

    .nav-menu-with-dropdown {
        display: inline-block;
    }

    .nav-submenu-list {
        position: absolute;
        background-color: $header-submenu-background;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin: 13px 0 -13px -10px;
        border: 1px solid black;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }

    .nav-submenu-list .nav-submenu-list-item {
        margin: 0;
        padding: 5px;
        width: 100%;
        outline: 1px solid black;
    }

    .nav-with-submenu-header-link {
        color: white;
    }

    .nav-with-submenu-header {
        margin-bottom: 8px;

        @media (min-width: 768px) {
            & {
                margin-right: 15px;
            }
        }
    }

    .nav-submenu-list a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-weight: 200;
    }

    .show {
        display: block;
    }
}

body:not(.js-enabled) {
    .nav-submenu-list {
        display: none;
    }
}

@media (min-width: 48.0625em) {
    .js-enabled .govuk-header__navigation {
        display: flex;
        justify-content: space-around;
    }
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}

.header-title {
    padding-bottom: 10px;
    color: black;
    font-family: "helveticaneuebold";
}


.no-border {
    border: none;
}

.header-logo {
    padding: 0 40px 5px 0;
    margin: 0;
    width: 200px;
    box-sizing: content-box;

    img {
        height: 30px;
        width: 200px;
    }
}


.header-expand-menu-button {
    color: black;
}

.breadcrumb-trail {
    display: none;
}

@media (min-width: 48.0625em) {
    .breadcrumb-trail {
        display: block;
        height: 45px;
        background-color: $breadcrumb-trail-background;
        margin-top: 10px;

        @media print {
            display: none;
        }
    }
}

.breadcrumb-trail-background {
    background-color: $breadcrumb-trail-background;
}

.live-data-warning-banner {
    background-color: $live-data-warning-background;
    border-bottom: none;
}
