@import "./colors.scss";

.header-title-and-logo-background {
    background: white;
}

.header-navigation-background {
    background: $phe-red;
  
    @media print {
      display: none;
    }
}

@media print {
  .govuk-phase-banner {
    display: none;
  } 
}

.header-navigation-list {
    margin-bottom: 0;

    .header-navigation-list-item {
        font-size: large;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
  
    ul li {
        margin: 0;
        padding: 5px;
    }
  
    li.dropdown-menu {
        display: inline-block;
    }
  
    .dropdown-menu-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 13px;
        margin-left: -13px;
        border: 1px solid black;
    }
  
    .dropdown-menu-content li {
        width: 100%;
        outline: 1px solid black;
    }
  
    .dropdown-menu-content a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-weight: 200;
    }
  
    .dropdown-menu-content a:hover {background-color: #f1f1f1}
  
    .dropdown-menu:hover .dropdown-menu-content {
        display: block;
    }
}

@media (min-width: 48.0625em) {
    .js-enabled .govuk-header__navigation {
        display: flex;
        justify-content: space-around;
    }
}

.header-title {
    padding-bottom: 10px;
    color: black;
    font-family: "helveticaneuebold";
}


.no-border {
    border: none;
}

.header-logo {
    padding: 0 40px 5px 0;
    margin: 0;
    width: 200px;
    box-sizing: content-box;
}

.header-phe-logo {
    height: 30px;
    width: 200px;
}

.header-expand-menu-button {
    color: black;
}

.breadcrumb-trail {
    display: none;
}

@media (min-width: 48.0625em) {
    .breadcrumb-trail {
        display: block;
        height: 45px;
        background-color: #DAD7CB;
        margin-top: 10px;
      
        @media print {
          display: none;
        }
    }
}

.breadcrumb-trail-background {
    background-color: #DAD7CB;
}
