.alerts-heading {
    height: 100%;
    margin: auto 0;
}

.tb-service-alerts-filter-label {
    height: 100%;
    margin: auto 0 auto auto;
}

.tb-service-alerts-filter-dropdown {
    max-width: 200px;
    margin: 5px 0 auto 15px
}

.reset-button-styling {
    background: none;
    border: none;
    color: #003078;
    text-decoration: underline;
    cursor: pointer;
    font-size: large;
}