.heading {
    margin: auto 0;
}

.filter-label {
    margin: auto 0 auto auto;
}

.filter-dropdown {
    max-width: 200px;
    margin: 5px 0 auto 15px
}

.homepage-kpi-card {
  background-color: $phe-red;
  background-clip: content-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kpi-details-row {
  margin-bottom: 24px;
}

.kpi-percentage {
  color: white;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 8px;
  font-size: 2em;

  @media (min-width: 768px) {
    & {
      margin-bottom: 36px;
    }
  }
}

.kpi-label-container {
  height: 3em;
  color: white;
  font-size: 18px;
  text-align: center;
}

[v-cloak] .v-cloak-homepage-kpi {
    display: none;
}

.homepage-kpi-container-with-js {
    display: none;
}

.js-enabled {
    .homepage-kpi-container-without-js {
      display: none;
    }
    .homepage-kpi-container-with-js {
      display: inline;
    }
}
