@import "./colors.scss";

.lab-results-radio-container {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 40.0625em) {
    width: 80px;
  }
}

.lab-results-demographics {
  flex: 1;
}

.lab-results-manual-match-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  & * {
    margin-top: auto;
    margin-bottom: auto;
  }

  & .lab-results-demographics {
    margin-left: -16px;
    margin-right: -16px;
    padding-top: 20px;
  }
}

// Override negative margins for nhsuk-grid-row at small widths which was causing
// scroll-bar issues
.lab-results-demographics-row {
  margin-left: 0;
  margin-right: 0;
}


.nhs-form-group--manual-lab-result {
  display: flex;
  flex-wrap: wrap;

  > .nhsuk-label {
    margin-right: 20px;
    margin-top: 10px;

    @media (min-width: 48.0625em) {
      margin-top: 7px;
    }
  }

  > .nhsuk-error-message {
    flex-basis: 100%;
  }
}

.unmatched-results-container {
  background: $shaded-background-color;
  width: 100%;
  overflow: auto;
  padding-top: 24px;
  margin-bottom: 24px;
}

.reject-button {
  margin-left: 15px;
}

.nhsuk-care-card--specimen {
  @include care-card($specimen-card-border, $color_nhsuk-white, 4px);

  .nhsuk-care-card__arrow {
    &:before,
    &:after {
      border-color: $specimen-card-border;
    }
  }

  @include nhsuk-responsive-margin(4, 'bottom');
  @include nhsuk-responsive-margin(4, 'top');
}
