@import "./_colors.scss";

.notification-banner-head {
    color: white;
    padding: 15px 20px;

    .notification-banner-id-link {
        color: white;
    }
}

.notification-banner-title-text {
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 0;
}

.notification-banner-body {
    padding: 15px 20px;
}

.notification-banner-field {
    padding-bottom: 10px;
}

.notification-banner-links {
    padding: 5px 10px;
    border-bottom: 1px solid $grey;
    margin-bottom: 20px;
    display: flex;
}

.notification-banner-links--current {
    font-weight: bold;
}

.notification-banner-link-separator {
    margin: 2px 10px;
    border-right: 2px solid black;
}

.bold-label {
    font-weight: 600;
}

.notification-banner-triangle {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    right: 40px;
    bottom: -20px;
}

.notification-banner {
    position: relative;
    margin-bottom: 20px;
}

.notification-banner-container {
    position: relative;
}

.notification-banner--draft {
    border: 2px solid $grey;

    .notification-banner-head {
        background: $grey;
    }
}

.notification-banner-triangle--draft {
    border-top-color: $grey;
}

.notification-banner--notified {
    border: 2px solid $phe-red;

    .notification-banner-head {
        background: $phe-red;
    }
}

.notification-banner-triangle--notified {
    border-top-color: $phe-red;
}

.notification-banner--denotified {
    border: 2px solid black;

    .notification-banner-head {
        background: black;
    }
}

.notification-banner-triangle--denotified {
    border-top-color: black;
}
