.manage-notification-section {
    width: 300px;
    padding-top: 10px;
    border-top: 10px solid #1d70b8;
}
  
.notification-sideline-container {
    width: 25%;
    display: inline-block;
    flex-wrap: nowrap;
}

.notification-body-container {
    width: 50%;
    display: inline-block;
    flex-wrap: nowrap;
}

.notification-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.patient-layout-flexbox {
    display: flex;
}

.notification-banner-title-container {
    color: white;
    padding: 10px 0 0 10px;
}

.notification-editing-title-background {
    background: #999999;
}

.notification-submitted-title-background {
    background: #7f0029;
}

.notification-denotified-title-background {
    background: black;
}

.notification-banner-details-container {
    background: #dddddd;
    padding: 10px 0 0 10px;
}

.notification-banner-details-container-denotified {
    background: white;
    border: 1px solid #dddddd;
    padding: 10px 0 0 10px;
}

.notification-banner-links-container {
    padding: 5px 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    display: flex;
}

.notification-banner-link-separator {
    margin: 2px 10px;
    border-right: 2px solid black;
}
