
.manage-notification-section {
<<<<<<< HEAD:ntbs-service/wwwroot/css/notification.scss
    width: 300px;
=======
    max-width: 300px;
>>>>>>> 741200a5506087c62652b6300015fb27a3432618:ntbs-service/wwwroot/css/notification.css
    padding-top: 10px;
    border-top: 10px solid #1d70b8;
}
  
.notification-sideline-container {
    width: 25%;
    display: inline-block;
    flex-wrap: nowrap;
}

.notification-body-container {
    width: 50%;
    display: inline-block;
    flex-wrap: nowrap;
}

.notification-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.patient-layout-flexbox {
    display: flex;
}