@import "./_colors.scss";

.notification-banner-head {
    color: white;
    padding: 10px 15px;
  
    @media print {
      color: black;
    }

    .notification-banner-id-link {
        color: white;

        @media print {
          color: black;
        }
    }
}

.notification-banner-title-text {
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 0;
}

.notification-banner-body {
    padding: 10px 15px;
    background: white;
}

.notification-banner-field {
    padding-bottom: 10px;
}

.bold-label {
    font-weight: 600;
}

.notification-banner-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    right: 40px;
    bottom: -20px;
}

.notification-banner {
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Default fill for icons to be white. Overridden in specific statuses. */
    svg {
        fill: white;
    }
}

.notification-banner-container {
    position: relative;
}

.notification-banner--draft {
    border: 2px solid $banner-border--draft;

    .notification-banner-head {
        background: $banner-header--draft;
        color: black;

        .notification-banner-id-link {
            color: black;
        }

        svg {
            fill: black;
        }
    }
}

.notification-banner-triangle--draft {
    border-top-color: $banner-header--draft;
}

.notification-banner--notified {
    border: 2px solid $banner-border--notified;

    .notification-banner-head {
        background: $banner-header--notified;
      
        @media print {
          border-bottom: 2px solid $banner-border--notified;
          background: none;
        }
    }
}

.notification-banner-triangle--notified {
    border-top-color: $banner-header--notified;
}

.notification-banner--denotified {
    border: 2px solid $banner-border--denotified;

    .notification-banner-head {
        background: $banner-header--denotified;

        @media print {
          border-bottom: 2px solid $banner-border--denotified;
          background: none;
        }
    }
}

.notification-banner-triangle--denotified {
    border-top-color: $banner-header--denotified;
}

.notification-banner--legacy {
    border: 2px solid $banner-border--legacy;

    .notification-banner-head {
        background: $banner-header--legacy;
        color: black;

        @media print {
          border-bottom: 2px solid $banner-border--legacy;
          background: none;
        }

        .notification-banner-id-link {
            color: black;
        }

        svg {
            fill: black;
        }
    }
}

.notification-banner-triangle--legacy {
    border-top-color: $banner-header--legacy;
}
