@import "./breakpoints";

.actions-aside-section {
    width: 300px;
    padding: 10px 0 0 0;
    margin-top: 30px;
    border-top: 10px solid #1d70b8;

    // This is used to position the ActionsAside component to the right when the page is wide enough
    @media(min-width: $max_content_width_breakpoint) {
        width: 200px;
        top: 0px;
        right: -220px;
        margin-top: 0;
        position: absolute;
    }
}

.body-and-aside-container {
    position: relative;
}

.search-notifications-button {
    font-size: medium;
}

.notifications-table {
    margin-top: 0;
}

.delete-notification-button {
    display: block;
    width: 100px;
}

.delete-reason-text-area-container {
    width: 750px;
}
