.notification-overview-type-and-edit-container {
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.notification-details-type {
    margin-bottom: 10px;
}

.notification-edit-link {
    margin: auto 0 10px auto;
}

.notification-overview-details-container {
    padding: 10px 0 5px 0;
}

.notification-overview-details {
    padding-bottom: 10px;
}

.notification-details-label {
    font-weight: 600;
}

/* This is used so that if a cell is missing data on the overview page the spacing is still correct */
.cell-min-height {
    min-height: 20px;
}