.nhsuk-radios__input + input + .nhsuk-radios__label::before {
    background: $nhsuk-form-element-background-color;
    border: $nhsuk-border-width-form-element solid $nhsuk-form-border-color;
    border-radius: 50%;
    box-sizing: border-box;
    content: '';
    height: $nhsuk-radios-size;
    left: 0;
    position: absolute;
    top: 0;
    width: $nhsuk-radios-size;
  }
  
  .nhsuk-radios__input + input + .nhsuk-radios__label::after {
    background: $nhsuk-form-border-color;
    border: 10px solid $nhsuk-text-color;
    border-radius: 50%;
    content: '';
    height: 0;
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 10px;
    width: 0;
  }
  
  /**
   * Focus state
   *
   * 1. Since box-shadows are removed when users customise their colours
   *    We set a transparent outline that is shown instead.
   *    https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
   */
  
  .nhsuk-radios__input:focus + .nhsuk-radios__label::before {
    box-shadow: 0 0 0 $nhsuk-radios-focus-width $nhsuk-focus-color;
    outline: $nhsuk-focus-width solid transparent; /* 1 */
    outline-offset: $nhsuk-focus-width;
  }
  
  /* Selected state */
  
  .nhsuk-radios__input:checked + input + .nhsuk-radios__label::after {
    opacity: 1;
  }
  
  /* Disabled state */
  
  .nhsuk-radios__input:disabled,
  .nhsuk-radios__input:disabled + input + .nhsuk-radios__label {
    cursor: default;
  }
  
  .nhsuk-radios__input:disabled + input + .nhsuk-radios__label {
    opacity: .5;
  }