.clear-search-button-container {
    display: flex;
}

.clear-search-button {
    margin-left: auto;
}

.search-results-list {
    list-style: none;
    padding-left: 0;
}

.enter-search-details-tip {
    padding-bottom: 15px;
}

.submit-search-button-container {
    display: flex;
}

.submit-search-button {
    margin-left: auto;
    margin-bottom: 0;
}
