@import "./breakpoints";
@import "./_colors.scss";

.clear-search-button-container {
    display: flex;
}

.clear-search-button {
    margin-left: auto;
}

.search-error {
    flex-basis: 100%;
}

.search-results-list {
    list-style: none;
    padding-left: 0;
}

.enter-search-details-tip {
    padding-bottom: 15px;
}

.submit-search-button-container {
    display: flex;
}

.submit-search-button {
    margin-left: auto;
    margin-bottom: 0;
}

.nhs-form-group--search {
    display: flex;
    flex-wrap: wrap;
}

.nhs-form-group--search-date {
    display: inline-block;

    @include mq($from: desktop) {
        display: flex;
        flex-wrap: wrap;
    }
}

.date-input--search {
    display: flex;
    flex-direction: column;

    @include mq($from: desktop) {
        flex-direction: row;
    }
}

.search-label--standard {
    height: 100%;
    margin: auto 0;
    width: 160px;
}

.search-label--long {
    height: 100%;
    margin: auto 0;
    width: 180px;
}

.search-legend--standard {
    height: 100%;
    margin: auto 0;
    width: 160px;

    @include mq($from: desktop) {
        float: left;
    }
}

.search-legend--long {
    height: 100%;
    margin: auto 0;
    width: 180px;

    @include mq($from: desktop) {
        float: left;
    }
}

.search-hint {
    height: 100%;
    margin: auto 0;
}

.search-input {
    margin-right: 20px;
}

.search-date-input {
    display: flex;
    margin: 5px 0;

    @include mq($from: desktop) {
        margin: 0;
    }
}

.search-date-input-label {
    margin: auto 15px auto 0;
    width: 45px;
    height: 100%;

    @include mq($from: desktop) {
        width: auto;
    }
}

.search-dropdown {
    width: 400px;
    margin: 15px 0;
}

.search-sex-radios {
    display: block;
    margin: 10px 0 20px 0;

    @include mq($from: desktop) {
        display: flex;
        margin: 0;
    }
}

.search-results-section {
    background: $shaded-background-color;
    width: 100%;
    overflow: auto;
    padding-top: 24px;
    padding-bottom: 48px;
}

.search-results-summary {
    display: flex;
}

.create-notification-button--right {
    margin-left: auto;
}

.create-notification-button-container {
    display: flex;
}
