/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.patient-layout-flexbox {
    display: flex;
}

.contents-list {
    width: 300px;
    padding-right: 80px;
}

.contents-list-item {
    list-style-type: none;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.contents-list-item--current {
    font-weight: bold;
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
}

.remove-button-styling-add-orange-hover {
    background: transparent;
    padding: 0;
    outline: none;
    border: 0;
    color: #1d70b8;
    cursor: pointer;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.remove-button-styling-add-orange-hover:focus {
    background: #ffb81C;
    color: #212b32;
}

.remove-button-styling-add-orange-hover:hover {
    background: #ffcd60;
    color: #212b32;
}

.top-margin-separator {
    margin-top: 20px;
}

.fixed-width-separator {
    width: 50px;
}

.double-fixed-width-separator {
    width: 100px;
}

.notification-overview-type-and-edit-container {
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.notification-details-type {
    margin-bottom: 10px;
}

.notification-edit-link {
    margin: auto 0 10px auto;
}

.notification-overview-details-container {
    padding: 10px 0 5px 0;
}

.notification-overview-details {
    padding-bottom: 10px;
}

.notification-details-label {
    font-weight: 600;
}

.empty-cell-min-height {
    min-height: 20px;
}

.back-to-top-link {
    border: none;
    background: transparent;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    padding: 0;
}

.text-warning {
    color: orangered;
}
