@import './reset.scss';
// We're importing the raw scss instaed of a packaged css bundle since we're using some of the dynamic elements ourselves (colour variables, functions etc)
@import '../../node_modules/nhsuk-frontend/packages/nhsuk.scss';
// Govuk css - needed for things like conditionally revealed radios sections
@import '../../node_modules/govuk-frontend/govuk/all.scss';
@import './checkboxes.scss';
@import './notification.scss';
@import './notificationView.scss';
@import './notificationBanner.scss';
@import "./footer.scss";

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-bottom: 80px;
}

.contents-list-item {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 5px 0 5px 14px;
}

.contents-list-item--current {
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.top-margin-separator {
    margin-top: 20px;
}

.fixed-width-separator {
    width: 50px;
}

.double-fixed-width-separator {
    width: 100px;
}

.text-warning {
    color: orangered;
}

