@import "./reset.scss";
// Need to override fontHandler to prevent 404s when looking for the GDS specific fonts
@import "./fonts/govukFontHandler.scss";
// We're importing the raw scss instaed of a packaged css bundle since we're using some of the dynamic elements ourselves (colour variables, functions etc)
@import "../../node_modules/nhsuk-frontend/packages/nhsuk.scss";
// Govuk css - needed for things like conditionally revealed radios sections
@import "../../node_modules/govuk-frontend/govuk/all.scss";
@import "../../node_modules/vue-accessible-modal/dist/index.css";
@import "./checkboxes.scss";
@import "./buttons.scss";
@import "./notification.scss";
@import "./notificationView.scss";
@import "./notificationBanner.scss";
@import "./footer.scss";
@import "./search.scss";
@import "./table.scss";
@import "./header.scss";
@import "./home.scss";
@import "./diseaseSites.scss";
@import "./fonts/webfontkit-helveticaneue/stylesheet.css";
@import "accessible-autocomplete";
@import "./autocomplete.scss";
@import "./testResults.scss";
@import "./alerts.scss";
@import "./labResults.scss";
@import "./flashMessage.scss";
@import "./legacyNotification.scss";
@import "./dialog.scss";
@import "./caseManager.scss";

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

@media print {
  // Chrome defaults to mobile layout, this forces it wide enough to pick up desktop layout
  @page {
    size: 330mm 427mm;
    margin: 10mm;
  }
  
  .no-print {
    display: none;
  }
  
  .main-wrapper {
    width: 1100px;
  }
  
  .nhsuk-grid-row:not(.allow-page-break) {
    page-break-inside: avoid;
  }
}

@media screen {
  .no-screen {
    display: none;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: white;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: white;
}

.contents-list-item {
  list-style-type: none;
  margin-bottom: 5px;
  padding: 5px 0 5px 14px;
}

.contents-list-item--current {
  font-weight: bold;
  padding-left: 10px;
  border-left: 4px solid #1d70b8;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.top-margin-separator {
  margin-top: 20px;
}

.fixed-width-separator {
  width: 50px;
}

.double-fixed-width-separator {
  width: 100px;
}

.text-warning {
  color: orangered;
}

.sub-nav-left {
  font-size: 16px;
  padding-left: 0;
  line-height: 24px;
}

.hidden,
.hidden * {
  display: none;
}

.no-bottom-margin {
  margin-bottom: 0;
}

/* Need to pin this to 38px to make icon circular */
.govuk-warning-text {
  color: orangered;

  .govuk-warning-text__icon {
    width: 35px;
    border: 3px solid orangered;
    background: orangered;
    padding-left: 1px;
  }

  .warning-container {
    p {
      margin-bottom: 12px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.flex-container {
  display: flex;
}

.bold-text {
    font-weight: bold;
}

.button-link {
  background: none;
  border: none;
  color: #003078;
  text-decoration: underline;
  cursor: pointer;
  font-size: large;
  outline: none;

  &:hover {
    background-color: #ffcd60;
    box-shadow: 0 0 0 4px #ffcd60;
    color: #212b32;
    text-decoration: none;
  }

  &:focus {
    background-color: #ffb81c;
    box-shadow: 0 0 0 4px #ffb81c;
    color: #212b32;
    outline: 4px solid transparent;
    outline-offset: 4px;
  }
}

/* Overriding gratuitous margin on responsive tables */
.nhsuk-table-responsive {
    margin-top: 18px;
    margin-bottom: 40px;
    
    @media (min-width: 40.0625em) {
        margin-top: 18px;
        margin-bottom: 40px;
    }
}

@media (min-width: 40.0625em) {
    .nhsuk-table--reduced-font {
        td, th {
            font-size: 16px;
        }
    }
}

.nhsuk-panel-with-label__label {
  background-color: #002776;
}

.draft-notifications-container {
  background: $shaded-background-color;
  width: 100%;
  overflow: auto;
  padding-top: 24px;
  margin-bottom: 24px;
}

.reduced-margin-warning-text {
  margin-bottom: 12px;
}
