@import "./breakpoints";
@import "./colors.scss";


.notification-lab-results-summary {
    padding: 10px 5px 10px 5px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.notification-specimen-summary {
    padding: 10px 5px 10px 5px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.notification-test-results-label {
    font-weight: 600;
}

.unmatch-button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    display: block;
}