@import "./breakpoints";
@import "./colors.scss";

.notification-lab-results-summary {
    padding: 10px 5px 10px 5px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: $shaded-background-color;
}

.notification-test-results-label {
    font-weight: 600;
}

.unmatch-button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    display: block;
}

.section-header-with-background {
    background: $shaded-background-color;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.manual-test-result-container {
  width: 100%;
  float: left;
}
