@using ntbs_service.Services
@inject IExternalLinksService _externalLinksService
@model ntbs_service.Models.Entities.Notification

@{
    var clusterLink = _externalLinksService.GetClusterReport(Model.ClusterId);
}

@if (string.IsNullOrEmpty(clusterLink))
{
    <span class="no-print"> @Model.ClusterId </span>
}
else
{
    <a href="@clusterLink" target="_blank" rel="noopener noreferrer">
        @Model.ClusterId
    </a>
}

<span class="no-screen"> @Model.ClusterId </span>
