@model ntbs_service.Models.Entities.Notification

@if (Model.ClusterId != null)
{
    <h3>Cluster Information</h3>
    <div>
        <p>
            <strong>@Html.DisplayNameFor(m => m.ClusterId): </strong>

            <partial name="_ClusterIdLink" model="@Model"/>
        </p>
    </div>
}
