@model ntbs_service.Models.Entities.Notification

@if(Model.ClusterId != null)
{
    var casesString = Model.ClusterCount > 1 ? "cases" : "case";
    <h3>Cluster Information</h3>
    <div>
        <p><strong>@Html.DisplayNameFor(m => m.ClusterId): </strong> <a href="/Reports/Cluster/@Model.ClusterId"> @Model.ClusterId </a> </p>
        <p>There are @Model.ClusterCount @casesString in the cluster</p>
    </div>
}