<header class="govuk-header" role="banner" data-module="govuk-header">
    <!-- <div class="header-title-and-logo-container"> -->
        <div class="govuk-header__container header-title-and-logo">
            <div class="header-logo">
                <span class="govuk-header__logotype">
                    logo here
                </span>
            </div>
            <div class="govuk-header__content">
                <a href="#" class="govuk-header__link govuk-header__link--service-name">
                    National Tuberculosis Surveillance System
                </a>
            </div>
        </div>
    <!-- </div> -->
    <div class="header-navigation-container">
        <div class="header-navigation">
            <button type="button" role="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
            <nav>
                <ul id="navigation" class="govuk-header__navigation header-navigation-list" aria-label="Top Level Navigation">
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link govuk-link--no-visited-state" href="#1">
                        Home
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link govuk-link--no-visited-state" href="#2">
                        Link
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link govuk-link--no-visited-state" href="#3">
                        Link
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link govuk-link--no-visited-state" href="#4">
                        Link
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link govuk-link--no-visited-state" href="#5">
                        Link
                        </a>
                    </li>
                </ul>
            </nav>
        </div> 
    </div>    
</header> 