<header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="header-title-and-logo-background">
        <div class="govuk-header__container govuk-width-container no-border">
            <button type="button" role="button" class="govuk-header__menu-button govuk-js-header-toggle header-expand-menu-button" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>

            <div class="govuk-header__logo header-logo-container header-logo">
                <span class="govuk-header__logotype">
                    <img src="~/Images/PHE_3268_DIGI_AW-100px.png" class="header-phe-logo" alt="Public Health England logo" />
                </span>
            </div>
            <div class=" govuk-header__link--service-name header-title">
                National Tuberculosis Surveillance System
            </div>
        </div>
    </div>
    <div class="header-navigation-background">
        <div class="govuk-header__container govuk-width-container no-border">
            <nav>
                <ul id="navigation" class="govuk-header__navigation header-navgation-list" aria-label="Top Level Navigation">
                    <li class="govuk-header__navigation-item" class="header-navigation-link">
                        <a class="govuk-header__link header-navigation-list-item" href="/">
                            Dashboard
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item" class="header-navigation-link">
                        <a class="govuk-header__link header-navigation-list-item" href="/Search">
                            Search
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item" class="header-navigation-link">
                        <a class="govuk-header__link header-navigation-list-item" href="/">
                            Link
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item" class="header-navigation-link">
                        <a class="govuk-header__link header-navigation-list-item" href="/Logout">
                            @(User.Identity.Name) (Logout)
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="breadcrumb-trail">
    </div>
</header>