@model ntbs_service.Models.Entities.HomepageKpi

<nhs-grid-row classes="kpi-details-row">
    <nhs-grid-column grid-column-width="OneQuarter">
        <div class="homepage-kpi-card">
            <div class="kpi-percentage">@Model.PercentPositive.ToString("0.0")%</div>
            <div class="kpi-label-container">
                <span>culture positive</span>
            </div>
        </div>
    </nhs-grid-column>
    <nhs-grid-column grid-column-width="OneQuarter" >
        <div class="homepage-kpi-card">
            <div class="kpi-percentage">@Model.PercentHivOffered.ToString("0.0")%</div>
            <div class="kpi-label-container">
                <span>HIV test offered</span>
            </div>
        </div>
    </nhs-grid-column>
    <nhs-grid-column grid-column-width="OneQuarter">
        <div class="homepage-kpi-card">
            <div class="kpi-percentage">@Model.PercentResistant.ToString("0.0")%</div>
            <div class="kpi-label-container">
                <span>with resistance</span>
            </div>
        </div>
    </nhs-grid-column>
    <nhs-grid-column grid-column-width="OneQuarter">
        <div class="homepage-kpi-card">
            <div class="kpi-percentage">@Model.PercentTreatmentDelay.ToString("0.0")%</div>
            <div class="kpi-label-container">
                <span>with treatment delay</span>
            </div>
        </div>
    </nhs-grid-column>
</nhs-grid-row>