<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NTBS Service</title>
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true">
</head>
<body>
    <div id="app">
        <partial name="./_Header.cshtml" />
        
        <nhs-main-wrapper classes="main-wrapper">
            @RenderBody()
        </nhs-main-wrapper>
        <partial name="./_Footer.cshtml" />
    </div>

    <!-- govuk requires elements that depend on js-usage require this class to be set on the root of the document (e.g. conditionally revealling radios' sections) -->
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
