<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ntbs_service</title>
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true">
</head>
<body>
    <div id="app">
        <header id="top">
            <!-- TODO remove these colour hacks -->
            <nav style="background-color: #822433; height: 60px; padding: 20px;">
                <div >
                    <a asp-area="" asp-page="/Index" style="color: white">NTBS</a>
                    <a asp-area="" asp-page="/Notifications/Index" style="color: white">Patient Search</a>
                    <a asp-area="" asp-page="/Notifications/Create" style="color: white">Notify</a>
                </div>
            </nav>
        </header>
        <nhs-main-wrapper>
            <nhs-width-container container-width="Standard">
                <form method="post" autocomplete="off">
                    <nhs-grid-row style="position: relative">
                        <nhs-grid-column grid-column-width="Full">
                            @RenderBody()
                        </nhs-grid-column>
                        @if (IsSectionDefined("ActionsAside"))
                        {
                            <!-- TODO change class name to be generic -->
                            <nhs-grid-column grid-column-width="Full" classes="actions-aside-section" >
                                <aside>
                                    @RenderSection("ActionsAside")
                                </aside>
                            </nhs-grid-column>
                        }
                    </nhs-grid-row>

                </form>
            </nhs-width-container>
        </nhs-main-wrapper>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - Public Health England - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <!-- govuk requires elements that depend on js-usage require this class to be set on the root of the document (e.g. conditionally revealling radios' sections) -->
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
