<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NTBS</title>
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true">
</head>
<body>
    <div id="app">
        <div>
            @RenderSection("SkipLink", false)
            @* nhs-main-wrapper renders <main id="maincontent"></main> *@
            <a nhs-anchor-type="SkipLink" href="#maincontent">Skip navigation</a> 
            
            <partial name="./_Header.cshtml" />
            
           <nhs-main-wrapper classes="main-wrapper">
                @RenderBody()
            </nhs-main-wrapper>
            
            <partial name="./_Footer.cshtml" />
        </div>
        
        <vue-accessible-modal/>
    </div>

    <!-- govuk requires elements that depend on js-usage require this class to be set on the root of the document (e.g. conditionally revealling radios' sections) -->
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)

</body>
</html>
