<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ntbs_service</title>
</head>
<body>
    <div id="app">
        <header>
            <!-- TODO remove these colour hacks -->
            <nav style="background-color: #822433; height: 60px; padding: 20px;">
                <div >
                    <a asp-area="" asp-page="/Index" style="color: white">NTBS</a>
                    <a asp-area="" asp-page="/Patients/Index" style="color: white">Patient Search</a>
                    <a asp-area="" asp-page="/Notifications/Create" style="color: white">Notify</a>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" style="padding: 60px">
                @Html.AntiForgeryToken()
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - Public Health England - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <!-- govuk requires elements that depend on js-usage require this calss to be set on the root of the document (e.g. conditionally revealling radios' sections) -->
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <script src="~/dist/bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
