@model ntbs_service.Pages.Notifications.NotificationModelBase
@using ntbs_service.Helpers
@using ntbs_service.Models

@{
    Layout = "./_NotificationLayout.cshtml";
    var currentPage = (string) ViewData["CurrentPage"];
    var isOverviewPage = currentPage == NotificationSubPaths.Overview;

    var classSuffix = CssClassHelpers.GetClassSuffixForNotificationStatus(Model.Notification.NotificationStatus);
    var linksClass = $"notification-banner-links notification-banner-links{classSuffix}";
    var endClass = $"notification-page-end notification-page-end{classSuffix}";
    var breadcrumbs = ViewData["Breadcrumbs"];
}

<nhs-width-container container-width="Standard">
    @if (isOverviewPage)
    {
        <partial name="./_AlertsAndActions"/>
    }
    <nhs-grid-row classes="allow-page-break">
        <nhs-grid-column grid-column-width="Full">
            <div class="@linksClass no-print">
                <partial name="_NotificationUnderBannerNav"/>
            </div>
            <div class="@linksClass no-screen">
            </div>
        </nhs-grid-column>

        <nhs-grid-column grid-column-width="Full">
            @RenderBody()
        </nhs-grid-column>

        <nhs-grid-column grid-column-width="Full">
            <div class="@endClass"> </div>
        </nhs-grid-column>

    </nhs-grid-row>
</nhs-width-container>