@model ntbs_service.Pages.Notifications.NotificationModelBase

@{
    Layout = "./_Layout";
    var notificationStatusTriangleCssClass = "";
    switch (Model.Notification.NotificationStatus)
    {
        case NotificationStatus.Draft:
            notificationStatusTriangleCssClass = "notification-banner-triangle--draft";
            break;
        case NotificationStatus.Notified:
            notificationStatusTriangleCssClass = "notification-banner-triangle--notified";
            break;
        case NotificationStatus.Denotified:
            notificationStatusTriangleCssClass = "notification-banner-triangle--denotified";
            break;
    }
}

<nhs-width-container container-width="Standard">
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="Full">
            <div class="notification-banner-container">
                <partial name="../Shared/_NotificationBanner.cshtml" model="@Model.NotificationBannerModel" />
                <div class="notification-banner-triangle @notificationStatusTriangleCssClass"> </div>
            </div>
        </nhs-grid-column>
    </nhs-grid-row>
    @RenderBody()
</nhs-width-container>