@model ntbs_service.Pages.Notifications.NotificationModelBase

@{
    Layout = "./_NotificationLayoutWithAlertsAndSideMenu.cshtml";
}

@section MainFormButton {
    <div hidden>
        <partial name="_SaveButton" for="Notification" />
    </div>
}

@RenderBody()
<partial name="_SaveButton" for="Notification" />
