@model ntbs_service.Pages.Notifications.NotificationModelBase

@{
    Layout = "./_NotificationLayoutWithSideMenu.cshtml";
    var hiddenPartialData = new ViewDataDictionary(ViewData) {["id"] = "save-button-hidden"};
}

@section MainFormButton {
    <div hidden>
        <partial name="Notifications/Edit/_SaveButton" for="Notification" view-data="@hiddenPartialData"/>
    </div>
}

@RenderBody()
<partial name="Notifications/Edit/_SaveButton" for="Notification"/>