@using ntbs_service.Helpers
@model ntbs_service.Pages.Notifications.IWithNotificationBanner

@{
    Layout = "./_Layout";
    var classSuffix = CssClassHelpers.GetClassSuffixForNotificationStatus(Model.NotificationBannerModel.NotificationStatus);
    var notificationStatusTriangleCssClass = $"notification-banner-triangle notification-banner-triangle{classSuffix}";
}

<nhs-width-container container-width="Standard">
    <nhs-grid-row>
        <nhs-grid-column grid-column-width="Full">
            <div class="notification-banner-container">
                <partial name="../Shared/_NotificationBanner.cshtml" model="@Model.NotificationBannerModel" />
                <div class="@notificationStatusTriangleCssClass"> </div>
            </div>
        </nhs-grid-column>
    </nhs-grid-row>
</nhs-width-container>
@RenderBody()

@section SkipLink {
    @RenderSection("SkipLink", false)
}
