@model ntbs_service.Pages.Notifications.NotificationModelBase
@using ntbs_service.Helpers
@using ntbs_service.Pages.Notifications

@{
    var currentPage = (string)ViewData["CurrentPage"];
}

<nhs-grid-column grid-column-width="OneQuarter">
    <ul class="sub-nav-left" id="navigation-side-menu">
        @foreach (NotificationSection section in Enum.GetValues(typeof(NotificationSection)))
        {
            if ((!section.IsMdr() || Model.Notification.IsMdr) 
                 && (!section.IsMBovis() || Model.Notification.IsMBovis))
            {
                var currentItemClass = currentPage == section.ToSubPath() ? "contents-list-item--current" : "";
                <li class="@("contents-list-item " + currentItemClass)">
                    <a class="app-subnav__link govuk-link govuk-link--no-visited-state" 
                       href="@RouteHelper.GetNotificationPath(Model.NotificationId, section.ToSubPath())">
                        @(section.ToDisplayString())
                    </a>
                </li>
            }
        }
    </ul>
</nhs-grid-column>
