@page
@model ntbs_service.Pages.ContactDetails.MenuModel
@using ntbs = ntbs_service.Services
@inject ntbs.IUserService UserService

@{
    Layout = "Shared/_Layout";
}

<nhs-width-container container-width="Standard">
    <h2 class="nhsuk-heading-l"> @(await UserService.GetUserDisplayName(@User)) </h2>
   
    <div>
        <a class="submenu-list-item-non-js" href="/ContactDetails">
           Edit personal details
        </a>
    </div>
    <div>
        <a class="submenu-list-item-non-js" href="/Logout">
           Logout
        </a>
    </div>
</nhs-width-container>